body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    color: white;
}

/* Parent container of rating form */
.container {
    margin-top: 100px;
    height: 300px;
    width: 320px;
    padding: 25px;
    background: #212832;
    border-radius: 10px;
}

.star{
    background: #262f36;
    padding: 10px;
    border-radius: 50%;
}

.description{
    color: #7a818b;
}
.rating-container{
    margin-bottom: 20px;
}
.rating{
    background-color: #262f38;
    color: #7a818b;
    padding: 10px 16px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    border: none;
}

.rating:hover{
    background: #fc7613;
    color: whitesmoke;
}

.rating:focus{
    background: #7c8896;
    color: whitesmoke;
}

.submit-btn, .back-btn{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fc7613;
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    cursor: pointer;
}
.submit-btn:hover, .back-btn:hover{
    color: #fc7613;
    background-color: whitesmoke;
}

/* Thanks modal */
.thanks-modal{
    position: absolute;
    display: none;
    margin-top: 60px;
    height: 300px;
    width: 320px;
    padding: 25px;
    background: #212832;
    border-radius: 10px;
}

.selected-rating{
    background-color: #262f38;
    color: #fc7613;
    padding: 5px;
    border-radius: 20px;
}

/* Attribution */
.attribution{
    margin-top: 20px;
}

.attribution a{
    color: aquamarine;
    text-decoration: none;
}